/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/bootstrap/
/tests/
/.editorconfig
/vite.config.js
/phpunit.xml
/CHANGELOG.md
/README.md
/artisan
/.styleci.yml
/package-lock.json
/composer.lock
/.env.example
/.gitattributes
/composer.json
/.github/
