.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: #333;
    color: #fff;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 20px;
    display: block;
    color: #fff;
}

.sidebar a:hover {
    background: #555;
    text-decoration: none;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.border-none {
    border: none;
    border-radius: unset;
}

.account-icon {
    color: white; /* Đổi màu icon thành màu trắng */
}